@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');

* {
  font-family: "Gowun Batang", serif;
  font-weight: 700;
  font-style: normal;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
